# Build results
*.exe
*.o
*.a
dnsp2p
tmp
build

# IDE Project files
Makefile-*.mk
.dep.inc
nbproject/
*.xcodeproj
ffff-dnsp2p.*

# Seccure output
seccure/seccure-decrypt
seccure/seccure-dh
seccure/seccure-encrypt
seccure/seccure-key
seccure/seccure-sign
seccure/seccure-signcrypt
seccure/seccure-veridec
seccure/seccure-verify

# Temporary cmake files
CMakeFiles
cmake_install.cmake
CmakeCache.txt
